language = "bash"
# run = ""

# run = "echo hello word"

# run = "python3 3_4_heart.py"
# run = "python3 3_4_rectangle.py"

# run = "python3 5_polygon_with_loops.py"
# run = "python3 5_circle.py"
# run = "python3 5_dots.py"

# run = "python3 6_colored_dots.py"

# run = "python3 7_polygon_with_for_loop.py"
# run = "python3 7_star.py"
# run = "python3 7_rotating_square.py"
# run = "python3 7_rotating_squares.py"
# run = "python3 7_rotating_pentagon.py"

run = "python3 main.py"